h1 {
    font-family: parkavenue, cursive;
    color: #A225B8;
    text-align: center;
}


body {
    background-color: #EAE0F0;

}


h2 {
    font-family: florence, cursive;
    text-align:center;
    font-weight: 50;
}

img {
    display: ;
    margin: auto;
    width: 49.8%;

}


p {
    text-align: center;
    font-weight: 100;
}

